@using Models.EF
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    IEnumerable<User> Users = ViewBag.User;
    IEnumerable<Field> fields = ViewBag.Field;
    IEnumerable<Company> companies = ViewBag.Company;

}

<div class="cards">
    <div class="card-single">
        <div>
            <h1><a href="@Url.Action("Index","Companies")" style="color: indianred">@companies.Where(p => p.Confirm == false).Count()</a></h1>
            <span>Waitting</span>

        </div>
        <div>
            <span class="las la-comment"></span>
        </div>
    </div>



    <div class="card-single">
        <div>
            <h1><a href="@Url.Action("Index","Companies")" style="color: indianred">@companies.Count()</a></h1>
            <span>Companies</span>
        </div>
        <div>
            <span class="las la-building"></span>
        </div>
    </div>

    <div class="card-single">
        <div>
            <h1><a href="@Url.Action("Index","Fields")" style="color: indianred">@fields.Count()</a></h1>
            <span>Fields</span>
        </div>
        <div>
            <span class="las la-industry"></span>
        </div>
    </div>

    <div class="card-single">
        <div>
            <h1><a href="@Url.Action("Index","Users")" style="color: indianred ">@Users.Count()</a></h1>
            <span>Users</span>
        </div>
        <div>
            <span class="las la-users"></span>
        </div>
    </div>
</div>

<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>Status</h3>           
                <button><a href="@Url.Action("Index","Companies")" style="color:white">See all </a><span class="las la-arrow-right"></span></button>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Company Name</td>
                                <td>Field</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in companies)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Field.FieldName</td>
                                    <td>

                                        @if (item.Confirm == true)
                                        {
                                            <span class="status green"></span>
                                            @Html.Raw("Confirmed")
                                        }
                                        else
                                        {
                                            <span class="status orange"></span>
                                            @Html.Raw("Pending")
                                        }
                                    </td>
                                </tr>
                             }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="customers">
        <div class="card">
            <div class="card-header">
                <h3>New Customers</h3>
                <button><a href="@Url.Action("Index","Users")" style="color:white">See all </a><span class="las la-arrow-right"></span></button>
            </div>
          
            <div class="card-body">
                @foreach (var item in Users)
                {
                    <div class="customer">
                        <div class="info">
                            <img src="~/Areas/Admin/AssetsAdmin/main/img/users/newuser1.png" width="40px" height="40px" alt="">
                            <div>
                                <h4>@item.UserName</h4>
                                <small>New Customer</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>