
@{
    Layout = null;
}
@using DoAnWeb.Models;
@using Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Review Company</title>

    <link rel="apple-touch-icon" sizes="120x120" href="/Assets/Admin/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Assets/Admin/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Assets/Admin/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Assets/Admin/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/Assets/Admin/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Sweet Alert -->
    <link type="text/css" href="/Assets/Admin/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/Assets/Admin/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/Assets/Admin/css/volt.css" rel="stylesheet">
</head>
<body>
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 navbar-dark">
            <div class="container position-relative">
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/Assets/Admin/index.html">
                                    <img src="/Assets/Admin/img/brand/light.svg" alt="Volt logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item me-2">
                            @{
                                var session = (LoginModel)Session[Constants.USER_SESSION];
                                if (session == null)
                                {
                                    @Html.ActionLink("Login", "Index", "Login", null, new { @class = "nav-link" })
                                }
                                else
                                {
                            <div style="color:#fff">
                                <span>Hi, </span><span>@session.userName</span>
                            </div>
                                }
                            }
                        </li>
                        <li class="nav-item me-2">
                            @Html.ActionLink("Register", "Index", "Register", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Logout", "Home")" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
                @*<div class="d-flex align-items-center ms-auto">
                    <a href="/Assets/Admin/pages/upgrade-to-pro.html" class="btn btn-outline-white d-inline-flex align-items-center me-md-3">
                        <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path></svg>
                        Download
                    </a>
                </div>*@
            </div>
        </nav>
    </header>
    <main>

        <!-- Hero -->
        <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="fw-bolder">Review Company Website</h1>
                        <h2 class="lead fw-normal text-muted mb-5">Find great places to work</h2>
                        <!-- Button Modal -->

                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="home-pattern" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4"><path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path></svg></figure>
        </section>
@*
        <div class="section pt-0">
            <div class="container mt-n10 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img src="/Assets/img/mockup-presentation.png" alt="Mockup presentation">
                    </div>
                </div>
            </div>
        </div>*@

        <div class="section pt-0">
            <div class="container mt-n10 mt-lg-n12 z-2">
                <div class="row justify-content-center" style="text-align: center">
                    <div class="col-12">
                        <img src="/Assets/img/background_home.png" alt="Banner-image">
                    </div>
                </div>
            </div>
        </div>
    </main>

    

    @RenderBody()

    <footer class="footer py-6 bg-gray-800 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">REVIEW COMPANY</p>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h6">Contact Us</span>
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <form action="#">
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <input type="email" class="form-control mb-2" placeholder="Type your message" name="email" aria-label="Subscribe form" required>
                            </div>
                            <div class="col-12 d-grid">
                                <button type="submit" class="btn btn-secondary" data-loading-text="Sending">
                                    <span>Send</span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="text-muted font-small m-0">We’ll never share your details. See our <a class="text-white" href="#">Privacy Policy</a></p>
                </div>
            </div>
            <hr class="bg-gray-700 my-5">
            <div class="row">
                <div class="col mb-md-0">
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">Copyright © ------<span class="current-year">2021</span>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function searchToggle(obj, evt) {
            var container = $(obj).closest('.search-wrapper');
            if (!container.hasClass('active')) {
                container.addClass('active');
                evt.preventDefault();
            }
            else if (container.hasClass('active') && $(obj).closest('.input-holder').length == 0) {
                container.removeClass('active');
                // clear input
                container.find('.search-input').val('');
            }
        }
    </script>

    <!-- Core -->
    <script src="/Assets/Admin/vendor/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/Assets/Admin/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Vendor JS -->
    <script src="/Assets/Admin/vendor/onscreen/dist/on-screen.umd.min.js"></script>

    <!-- Slider -->
    <script src="/Assets/Admin/vendor/nouislider/dist/nouislider.min.js"></script>

    <!-- Smooth scroll -->
    <script src="/Assets/Admin/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!-- Charts -->
    <script src="/Assets/Admin/vendor/chartist/dist/chartist.min.js"></script>
    <script src="/Assets/Admin/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

    <!-- Datepicker -->
    <script src="/Assets/Admin/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Sweet Alerts 2 -->
    <script src="/Assets/Admin/vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <!-- Vanilla JS Datepicker -->
    <script src="/Assets/Admin/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

    <!-- Notyf -->
    <script src="/Assets/Admin/vendor/notyf/notyf.min.js"></script>

    <!-- Simplebar -->
    <script src="/Assets/Admin/vendor/simplebar/dist/simplebar.min.js"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src="/Assets/Admin/js/volt.js"></script>

</body>
</html>
