@model Models.EF.Review

@using DoAnWeb.Models;
@using Models;

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    List<Models.EF.Review> reviews = ViewBag.reviews;
    var company = ViewBag.comDetail;
}

<h2>Detail</h2>
<div class="container">
    <div class="mt-7">
        <div class="p-2 py-3 mx-auto" style="background-color: white; border-radius: 10px; max-width: 900px">
            <div>
                <div class="row">
                    <div class="col-3">
                        <div class="img"> <img src="~/Assets/img/Logo/@company.Logo" max-width="160" max-height="160"> </div>
                    </div>
                    <div class="col-8">
                        <h4>@company.Name</h4>
                        <p>@company.Address</p>
                        <div class="ratings mt-2" style="color: black"> <i class="fa fa-star">@company.Rating</i> </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row z-2" style="text-align: center; margin-top: -20px">
        @RenderPage("~/Views/Company/Write.cshtml")


    </div>
</div>

<div class="mx-10">
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    <div>
        @foreach (var item in reviews)
        {
            if (item.Incognito.GetValueOrDefault() == true)
            {
                <h5>Incognito</h5>
            }
            @Html.DisplayFor(x => item.Content);
            @Html.DisplayFor(x => item.DateCreated);
        }
    </div>
</div>


