@model Models.EF.Review

@{
    var company = ViewBag.comDetail;
}
@using DoAnWeb.Models;
@using Models;


<div class="col-12">
    @{var session = (LoginModel)Session[Constants.USER_SESSION];
        var target = (session != null ? "#exampleModal" : "#errorModal");
     }
    <button type="button" class="btn btn-secondary add" data-bs-toggle="modal" data-bs-target= @target>
        Write a review
    </button>
    <div class="modal fade" id="exampleModal" style="text-align: left" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span style="font-size: 25px; font-weight: bold;">
                        <i class="far fa-edit"></i>
                        <span class="modal-title text-center" id="exampleModalLabel">Write a review</span>
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Write", "Review", FormMethod.Post, new { id = "form-write" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2", @style= "color: #E68C13" })
                                <div>
                                    @*@Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", @id = "rating" } })*@
                                    @Html.DropDownListFor(model=>model.Rating, new List<SelectListItem>
                                    {
                                       new SelectListItem{ Text="5 star", Value = "5" },
                                       new SelectListItem{ Text="4 star", Value = "4" },
                                       new SelectListItem{ Text="3 star", Value = "3" },
                                       new SelectListItem{ Text="2 star", Value = "2" },
                                       new SelectListItem{ Text="1 star", Value = "1" }
                                    }, "Select", new { @style="width:200px; height:30px; border-radius:5px", @id = "rating" } )
                                    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group mt-4">
                                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="">
                                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @id = "content" } })
                                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group mt-4">
                                @Html.LabelFor(model => model.Incognito, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="">
                                    @Html.EditorFor(model => model.Incognito, new { htmlAttributes = new { @class = "form-control", @id = "incognito" } })
                                    @Html.ValidationMessageFor(model => model.Incognito, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                    <button id="btnWrite" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorModal"  style="text-align: left" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Sign in to continue</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    To write a review, you must be signed in. Your identity will remain anonymous.
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                    <a href="@Url.Action("Index", "Login")" class="btn btn-primary">Go to sign in</a>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnWrite").click(function () {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var newReview = {
                UserId: 0,
                ComId: @company.Id,
                DateCreated: date,
                Rating: $("#rating").val(),
                Content: $("#content").val(),
                Incognito: $("#incognito").val()
            }
            $.ajax({
                url: "/Company/Write",
                type: "POST",
                data: newReview,
                success: function () {
                    alert('Send a review sucessfully!')
                    location.reload(true);
                }
            });
        })

    })
</script>